.MainContainer {
    width: 1000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;

    .rule-text {
        font-size: 14px;
        text-align: center;
        padding-right: 215px;
        padding-bottom: 50px;
        padding-top: 20px;
        color: #ccc;
    }

    .divider_line {
        width: 100%;
        margin: 0 0 20px 0;
        text-align: center;
        border-bottom: 1px solid #616161;
    }

    .field-final {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 70px;
    }

    .MainContainer-content {
        background: #424242;
        color: #fff;
        text-align: left;
        padding: 0 0 1px 0;

        .content-main {
            display: flex;
        }

        .field-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 40px;
            padding: 0 50px;
            color: #fff;
            font-size: 14px;
            margin-bottom: 20px;
            flex: 1 100%;

            &:last-child {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1px;
                    left: 0;
                    height: 487px;
                    background: #616161;
                }
            }

            img {
                width: fit-content;
            }
        }

        .content-top {
            padding: 30px 50px 0 50px;

            h1 {
                margin-top: 0px;
                font-size: 26px;
                color: #fff;
                margin: 0 0 10px 0;
                font-weight: 500;
                line-height: 1.1;
            }

            p {
                margin: 0px;
                font-size: 13px;
                color: #fff;

                &.highlight {
                    color: #f2c841;
                }
            }
        }
    }
}
