.Input {
    width: 100%;
    display: flex;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0 0 20px 0;
    border: 0;

    .reg-btn {
        width: 280px;
        height: 44px;
        border: 0px;
        outline: 0;
        margin: 0 0 0 auto;
        font-size: 17px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 2px;
        background-color: #cecece;
        color: #482800 !important;
        text-align: center;
        text-indent: 0;
        transition: 0.25s;

        &:hover {
            background: #43a047;
            color: #fff !important;
        }
    }

    &.-button {
        width: unset;
        flex: unset;
    }

    label {
        display: block;
        font-family: "lbet-mt", sans-serif;
        font-size: 16px;
        padding: 0 20px 0 0;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: right;
        overflow: hidden;
        height: 25px;
        margin: 0 0 5px 0;
        width: 200px;
    }

    input {
        display: block;
        height: 34px;
        background: #616161;
        border: none;
        font-size: 14px;
        text-indent: 20px;
        width: 280px;
        position: relative;
        color: #fff;

        &.-false {
            border-bottom: 1px solid red;

            &:focus,
            &:hover {
                background: #fff;
                color: #000;
                outline: none;
                border: none;
                border-bottom: 1px solid red;
            }
        }

        &:focus,
        &:hover {
            background: #fff;
            color: #000;
            outline: none;
            border: none;
        }
    }

    .selection-wrappers {
        display: flex;
        justify-content: space-between;
    }

    span {
        font-size: 13px;
        color: #ff5050;
    }

    select {
        display: inline;
        margin: 0 24px 0 0;
        width: 77px;
        height: 34px;
        background: #616161;
        border: none;
        text-indent: 5px;
        font-size: 14px;
        outline: none;
        text-transform: none;
        max-width: 122px;
        color: #fff;

        &:last-child {
            margin: 0;
        }
    }

    .input-phone {
        display: flex;
        justify-content: space-between;

        .phone-index {
            margin: 0 0 0 4px;
        }

        .-dropdown {
            width: calc(32% + 6px);
            background: #616161;
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 8px;

            .arrow {
                position: absolute;
                top: 50%;
                margin-top: -2px;
                right: 6px;
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                /* background-color: white; */
                border-top: 4px solid #fff !important;
                margin-left: 8px;
            }

            .dropdown-content.phone {
                position: absolute;
                z-index: 2;
                list-style: none;
                text-align: left;
                padding: 0;
                margin: 0 0 0 -1px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
                background-color: white;
                border: 1px solid #ccc;
                white-space: nowrap;
                max-height: 150px;
                overflow-y: scroll;
                left: 0;
                top: 38px;

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 5px 10px;

                    .country {
                        color: #000;
                        margin: 0 4px;
                    }

                    .num {
                        color: #999;
                    }
                }
            }

            .flag {
                box-shadow: 0px 0px 1px 0px #888;
                background-image: url("../../assets/images/flagsTel.png");
                background-repeat: no-repeat;
                background-color: #dbdbdb;
                background-position: 20px 0;
                width: 20px;
                height: 14px;
            }
        }

        input {
            width: 208px;
        }
    }

    .selected-flag {
        width: 16px;
        height: 11px;
        background: url("../../assets/images/flags.png");
        display: inline-block;
        position: absolute;
        right: 22px;
        top: 12px;
    }

    .country-list {
        width: 280px;
        top: 34px;
        right: 0;
        list-style: none;
        position: absolute;
        z-index: 2;
        padding: 0;
        margin: 0 0 0 -1px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background-color: white;
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: scroll;
        color: #000;

        .flag {
            width: 16px;
            height: 11px;
            background: url("../../assets/images/flags.png");
            display: inline-block;
            margin-right: 6px;
        }

        li {
            line-height: 11px;
            padding: 7px 10px;
        }
    }

    .error-tooltip {
        position: absolute;
        width: 200px;
        border-radius: 2px;
        background: #fff;
        top: 0;
        right: -14px;
        transform: translateX(100%);
        z-index: 99;
        padding: 10px;
        color: #a21d1d;
        font-family: "lbet-st", sans-serif;
        font-size: 13px;
        animation: revealAlt 0.25s ease-in;

        &:before {
            content: "";
            position: absolute;
            left: -9px;
            top: 9px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid white;
            animation: reveal 0.25s ease-in;
        }
    }

    .valid-success {
        width: 34px;
        height: 34px;
        top: 0;
        z-index: 99999;
        background-color: #bdbdbd;
        background-image: url("../../assets/images/status.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        right: 0;
        top: 0;
        animation: reveal 0.25s ease-in-out;
    }

    @keyframes reveal {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes revealAlt {
        from {
            opacity: 0;
            width: 0%;
            height: 0%;
        }

        to {
            opacity: 1;
        }
    }
}
