.Modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.5);
    .Modal-content {
        width: 1000px;
        min-width: 500px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #424242;
        padding: 80px 0;

        p {
            font-size: 26px;
            color: #fff;
            margin: 0 0 40px 0;
            font-weight: 500;
            line-height: 1.1;
        }

        button {
            width: 160px;
            height: 44px;
            border: 0px;
            outline: 0;
            font-size: 17px;
            border-radius: 2px;
            background-color: #ebc340;
            background-size: 100%;
            background-image: linear-gradient(to bottom, #ebc340 0%, #eb9540 100%);
            color: #482800 !important;
            text-align: center;
            text-indent: 0;
        }
    }
}
