.Header {
    background: #202126;
    padding: 10px 20px;
    border-bottom: 1px solid #2e3037;

    .Header-content{
        display: flex;
        align-items: center;

        .logo {
            width: 225px;
            min-width: 150px;
            position: relative;
        }

        .market {
            margin-right: 10px;
            background: #2c2d34;
            font-size: 1rem;
            color: #fff;
            padding: 9px 20px 9px 50px;
            border-radius: 50px;
            text-decoration: none;
            position: relative;
            margin-left: 1.5rem;

            &:before {
                content: "";
                position: absolute;
                width: 19px;
                height: 16px;
                top: 13px;
                left: 17px;
                background: url('../../assets/images/market.png');
            }
        }

        .promotion {
            background: #2c2d34;
            font-family: "lbet-mt", sans-serif;
            font-size: 1rem;
            color: #fff;
            padding: 9px 20px 9px 50px;
            border-radius: 50px;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            width: 0px;
            padding-right: 0px !important;
            height: 38px;

            &:before {
                content: "";
                position: absolute;
                width: 19px;
                height: 16px;
                top: 10px;
                left: 17px;
                background: url('../../assets/images/promotion.png');
            }
        }

        .auth-elements {
            display: flex;
            align-self: center;
        }

        .auth-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .auth-el {
            position: relative;
            margin-right: 10px;
            display: flex;

            .register-button {
                background: #43a047;
                padding: 0.532rem 1.2rem;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
            }

            .input {
                height: 100%;

                &.icon-user {
                    background: url('../../assets//images/user.png') no-repeat 10px center, #3f4149;
                }

                &.icon-password {
                    background: url('../../assets//images/password.png') no-repeat 10px center, #3f4149;
                }

                margin-left: 0;
                max-width: 200px;
                border: none;
                border-radius: 3px;
                padding: 0.5rem 85px 0.5rem 38px;
                font-family: "lbet-st", sans-serif;
                color: #9ca1b6;
            }

            .input_button {
                position: absolute;
                top: 0.3rem;
                right: 0.3rem;
                background: #474a54;
                color: #afb2c2;
                font-family: "lbet-mt", sans-serif;
                padding: 5px 10px;
                font-size: 0.8rem;
                height: calc(100% - .6rem);
                display: flex;
                align-items: center;
            }

            .login_btn {
                background: #455a64;
                padding: 0.5rem 1.5rem;
                border: none;
                color: #fff;
                font-size: 1rem;
                border-radius: 3px;
                text-decoration: none;
            }
        }

        .lang {
            margin-left: 0;
            padding: 10px;

            .current_lang {
                background: url('../../assets/images/ka_flag.png');
                width: 26px;
                height: 17px;
                padding-left: 26px;
                position: relative;
            }
        }
    }
}